$primary-color: #22336f;
$primary-dark-color: #1b2a5a;
$primary-light-color: #2990f8;
$black-color: #292929;
$light-color: #fff;
$light-gray-color: #f4f4f5;
$dark-gray-color: #979797;
$light-red-color: #ed1a33;

@mixin for-small-screen {
	@media (min-width: 640px) {
		@content;
	}
}
@mixin for-medium-screen {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin for-large-screen {
	@media (min-width: 1024px) {
		@content;
	}
}
@mixin for-extralarge-screen {
	@media (min-width: 1280px) {
		@content;
	}
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
