@use "./variables";

.blog {
	width: 100%;
	box-sizing: border-box;
	min-height: 100vh;
	background-color: variables.$light-color;

	&__img {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: relative;

		@include variables.for-small-screen {
			height: 100vh;
		}

		@include variables.for-medium-screen {
			height: 100vh;
		}
		@include variables.for-large-screen {
			height: 70vh;
		}
		@include variables.for-extralarge-screen {
			height: 80vh;
		}

		&--title-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			background-image: linear-gradient(rgba(black, 0.9), rgba(black, 0.8));

			.icon {
				font-size: 24px;
				font-weight: 700;
				color: variables.$primary-color;
				margin: 40px;
				padding: 16px;
				cursor: pointer;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				align-self: flex-start;
				background-color: variables.$light-color;
			}
			.title {
				font-size: 32px;
				font-weight: 700;
				color: #fff;
				padding: 40px;
				text-align: center;
				@include variables.for-small-screen {
					font-size: 30px;
				}

				@include variables.for-medium-screen {
					font-size: 28px;
				}
				@include variables.for-large-screen {
					font-size: 32px;
				}
			}
			.footer {
				display: flex;
				width: 100%;
				padding: 40px;
				box-sizing: border-box;
				align-items: center;
				justify-content: space-between;

				.profile {
					display: flex;
					gap: 6px;
					align-items: flex-end;

					&__name {
						text-transform: uppercase;
						color: variables.$primary-light-color;
						font-size: 14px;
						font-weight: 600;
						transition: all 0.2s ease-in-out;

						&:hover {
							color: variables.$primary-dark-color;
							cursor: pointer;
						}
					}

					&__timestamp {
						font-size: 14px;
						color: variables.$dark-gray-color;
					}
				}

				.counter {
					display: flex;
					gap: 8px;
					color: variables.$dark-gray-color;

					&__comments {
						display: flex;
						align-items: center;
						gap: 4px;
					}
					&__views {
						gap: 4px;
						display: flex;
						align-items: center;
					}
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__details {
		width: 100%;
		padding: 40px;
		box-sizing: border-box;

		@include variables.for-small-screen {
			padding: 40px;
		}

		@include variables.for-medium-screen {
			padding: 48px;
		}
		@include variables.for-large-screen {
			padding: 64px;
		}

		&--desc {
			font-size: 20px;
			color: variables.$black-color;
			@include variables.for-small-screen {
				font-size: 20px;
			}

			@include variables.for-medium-screen {
				font-size: 22px;
			}
			@include variables.for-large-screen {
				font-size: 22px;
			}
		}
	}
}
