@use "./variables";

.card {
	width: 100%;
	// height: 250px;
	box-sizing: border-box;
	background-color: variables.$light-color;
	display: flex;
	flex-direction: column;
	gap: 16px 16px;
	align-items: start;
	justify-content: center;
	padding: 24px 24px;
	overflow: hidden;
	// border-radius: 10px;

	@include variables.for-small-screen {
		width: 75%;
	}

	@include variables.for-medium-screen {
		width: 90%;
		gap: 0px 16px;
		height: 250px;
		flex-direction: row;
	}
	@include variables.for-large-screen {
		width: 80%;
	}
	@include variables.for-extralarge-screen {
		width: 860px;
	}

	&__img {
		width: 100%;
		height: 210px;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 84% 100%, 0 100%, 0% 50%);
		overflow: hidden;
		// border-radius: 10px;

		cursor: pointer;

		@include variables.for-medium-screen {
			width: 40%;
			height: 210px;
		}
		@include variables.for-large-screen {
		}
		@include variables.for-extralarge-screen {
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: all 0.2s ease-in-out;
		}

		&:hover img {
			transform: scale(1.05);
		}
	}

	&__info {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 12px;

		@include variables.for-medium-screen {
			width: 60%;
		}
		@include variables.for-large-screen {
		}
		@include variables.for-extralarge-screen {
		}

		&-container {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&--title {
			font-family: "Inter", sans-serif;
			font-size: 16px;
			font-weight: 600;
			color: variables.$black-color;
			transition: all 0.2s ease-in-out;

			&:hover {
				color: variables.$light-red-color;
				cursor: pointer;
			}

			@include variables.for-medium-screen {
				font-size: 16px;
			}
			@include variables.for-large-screen {
				font-size: 18px;
			}
			@include variables.for-extralarge-screen {
				font-size: 18px;
			}
		}

		&--desc {
			color: rgba(variables.$black-color, 5);
			font-size: 14px;
			@include variables.for-medium-screen {
				font-size: 14px;
			}
			@include variables.for-large-screen {
				font-size: 14px;
			}
			@include variables.for-extralarge-screen {
				font-size: 14px;
			}
		}

		&--footer {
			display: flex;
			width: 100%;
			box-sizing: border-box;
			align-items: center;
			justify-content: space-between;

			.profile {
				display: flex;
				gap: 6px;
				align-items: flex-end;

				&__name {
					text-transform: uppercase;
					color: variables.$primary-light-color;
					font-size: 14px;
					font-weight: 600;
					transition: all 0.2s ease-in-out;

					&:hover {
						color: variables.$primary-dark-color;
						cursor: pointer;
					}
				}

				&__timestamp {
					font-size: 14px;
					color: variables.$dark-gray-color;
				}
			}

			.counter {
				display: flex;
				gap: 8px;
				color: variables.$dark-gray-color;

				&__comments {
					display: flex;
					align-items: center;
					gap: 4px;
				}
				&__views {
					gap: 4px;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
