@use "./variables";

.home {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: variables.$light-gray-color;

	&__cards {
		width: 100%;
		min-height: 100vh;
		box-sizing: border-box;
		padding: 40px 24px;
		display: flex;
		gap: 24px;
		flex-direction: column;
		align-items: center;

		
		@include variables.for-medium-screen {
			padding: 40px 32px;
		}
		@include variables.for-large-screen {
			padding: 40px 32px;
		}
		@include variables.for-extralarge-screen {
			padding: 40px 32px;
		}
	}
}
