@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	font-family: "IBM Plex Sans", sans-serif;
	/* font-family: 'Inter', sans-serif; */
}

a{
	text-decoration: none;
}